body {
    min-width: 414px;
    max-width: 1080px;
    width: 10rem;
    margin: 0 auto;
    line-height: 1.5;
    font-family: Arial, Helvetica;
    background-color: #f8f8f8;
}

header {
    height: 1.2407rem;
    background-color: #00a4c0;
    color: #fff;
    text-align: center;
    line-height: 1.2407rem;
    font-size: .3704rem;
}

/* banner开始 */
.banner {
    padding: 0 .2222rem;
    box-sizing: border-box;
    border-bottom: .2037rem solid #eeeeee;
}

.banner-top {
    height: .8889rem;
    font-size: .3056rem;
    display: flex;
    justify-content: space-between;
    padding-top: .1852rem;
    box-sizing: border-box;

}

.banner-top span:nth-child(2) {
    color: #ccc;
}

.banner-img img {
    /* width: 9.5833rem; */
    height: 3.287rem;
}

.banner-top:nth-of-type(3) {
    padding-top: .3056rem;
}

.more {
    height: 1.1111rem;
    background-color: #fff;
    width: 100%;
    display: block;
    margin-top: .1852rem;
    color: #000;
    font-size: .2778rem;
    text-align: center;
    line-height: 1.1111rem;
    margin-bottom: .3704rem;
    border: 1px solid #ccc;
}

/* 内容区开始 */
section {
    padding: 0 .2222rem;
    box-sizing: border-box;
    margin-bottom: .9259rem;
}

section h2 {
    height: 1.037rem;
    line-height: 1.037rem;
    font-size: .2778rem;
    color: #878787;
}

.bd {
    height: 2.1296rem;
    display: flex;
    justify-content: space-between;

}

.bd-img img {
    width: 2.6574rem;
    height: 1.9074rem;
    margin-right: .25rem;
}

.bd-txt h4 {
    font-size: .3519rem;
    margin-bottom: .2037rem;
    margin-top: .3704rem;
}

.bd-txt {
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.bd-txt p {
    font-size: .2685rem;
    color: #ccc;
}

/* 内容区结束 */
/* 底部开始 */
footer {
    height: 1.537rem;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 0 .926rem;
    box-sizing: border-box;
    justify-content: space-between;

}

footer a {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: .2778rem;
    color: #ccc;

}

footer a .faxian {
    font-size: .5rem;

}

footer a:nth-child(2) {
    color: #15a5bf;
}

footer a:nth-child(2) span {
    color: #15a5bf;
}

/* 底部结束 */