body {
    min-width: 414px;
    max-width: 1080px;
    width: 10rem;
    margin: 0 auto;
    line-height: 1.5;
    font-family: Arial, Helvetica;
    background-color: #eeeeee;
}

section {
    position: relative;
}

a {
    text-decoration: none;
    color: #333;
}

section>img {
    width: 2.6533rem;
    height: 2.7467rem;
    position: absolute;
    right: 0;
    top: 0;
}

.logo {
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
}

.logo img {
    width: 2rem;
    height: 2rem;
    margin-top: 1.6267rem;
}

section h2 {
    font-size: .6933rem;
    text-align: center;
    font-weight: 400;
    margin-top: 2.1867rem;
}

section h2 span {
    color: #fb8f32;
}

form {
    display: flex;
    flex-direction: column;
    padding: 0 .7733rem;
    box-sizing: border-box;
    margin-top: 1.1067rem;
    position: relative;
    height: 2.9733rem;
    justify-content: center;


}


form input {
    outline: none;
    border: none;
    /* border-radius: 10px; */
    height: 1.4933rem;
    box-sizing: border-box;
    line-height: 1.4933rem;


}

input::-webkit-input-placeholder {
    font-size: .5333rem;
    color: #9d9d9d;
    padding-left: .4rem;
    margin-bottom: .0667rem;
    display: block;
}

form input:nth-child(1) {
    border-radius: 15px 15px 0 0;
    border-bottom: 2px solid #ccc;
}

form input:nth-child(2) {
    border-radius: 0 0 15px 15px;
}

.yanjing {
    position: absolute;
    right: 1.1067rem;
    top: 1.92rem;
    font-size: .4667rem;
}

button {
    margin: 0 .7733rem;
    box-sizing: border-box;
    width: 85%;
    margin-top: 2.0267rem;
    border: none;
    background-color: #32b4ff;
    border-radius: .8rem;
    height: 1.6267rem;
    font-size: .56rem;
    color: #fff;
    margin-bottom: 2.7333rem;
}

section .login {
    font-size: .4933rem;
   width: 7.0133rem;
   height: .3467rem;
   margin: 0 auto;
}