@font-face {
  font-family: "iconfont"; /* Project id 4225912 */
  src: url('iconfont.woff2?t=1693019049523') format('woff2'),
       url('iconfont.woff?t=1693019049523') format('woff'),
       url('iconfont.ttf?t=1693019049523') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-31wode:before {
  content: "\e600";
}

.icon-jiahao:before {
  content: "\e726";
}

.icon-yanjing:before {
  content: "\e62b";
}

.icon-shangcheng:before {
  content: "\e647";
}

.icon-youjiantou:before {
  content: "\e637";
}

.icon-faxian:before {
  content: "\e8af";
}

.icon-shouye:before {
  content: "\e8b9";
}

.icon-xiaomi:before {
  content: "\e602";
}

